.frens-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .page-top {
    padding: 24px 12px 40px 12px;

    .title {
      font-size: 2.2rem;
      font-weight: bold;

      span {
        margin-left: 12px;
        color: var(--highColor);
      }
    }

    .desc-content {
      background: url('/assets/frens/bg.png');
      border-radius: 4px;
      padding: 12px;
      margin-top: 2rem;
      background-size: 100% 100%;

      .label {
        display: flex;
        align-items: center;
        gap: 4px;
        font-size: 1.3rem;
        font-weight: bold;
        margin-bottom: 6px;

        img {
          width: 20px;
          object-fit: contain;
        }
      }

      .intro {
        color: var(--darkColor);
        padding-left: 20px;
        margin-bottom: 2rem;
      }

      .intro:last-child {
        margin-bottom: 0;
      }
    }

    .frens-title {
      margin: 1rem 0;
      color: var(--darkColor);

      span {
        color: var(--highColor);
        font-weight: bold;
        margin: 0 6px;
        font-family: 'number';

      }
    }

    .list-item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 12px;

      .li-left {
        font-size: 1.1rem;
        opacity: 0.8;
      }

      .li-right {
        display: flex;
        align-items: center;
        gap: 4px;
        font-family: 'number';

        img {
          width: 24px;
        }
      }
    }

    .custom-skeleton {
      width: 100%;
      height: 30px;
      margin-bottom: 12px;
    }
  }

  .page-bottom {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 18px 12px;
    position: fixed;
    bottom: 85px;
    width: 100%;
    background-color: var(--bgColor);

    button {
      height: 44px;
    }

    .copy {
      font-weight: bold;

      span {
        display: flex;
        align-items: center;
      }
    }
  }

  .h5Pc {
    // bottom: 0;
  }
}