.leader-page {
  padding: 24px 12px;
  .title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    span {
      color: var(--highColor);
    }
  }
  .sub-title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  .record-btn {
    background: rgba($color: #fff, $alpha: 0.2);
    width: fit-content;
    padding: 4px 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 4px;
    line-height: 1.5rem;
    margin-bottom: 2.5rem;
  }
}