.footer {
  padding: 12px 12px 20px 12px;
  min-height: fit-content;
  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #181818;
    border-radius: 50px;
    padding: 12px 0;
    .menu-wrapper {
      flex: 1;
    }

    .menu {
      text-align: center;
      cursor: pointer;
    }
    .title {
      color: #fff;
      font-size: 0.9rem;
      line-height: 1rem;
    }
    svg {
      fill: #fff;
    }
    .active {
      svg {
        fill: var(--btnBg);
      }

      .title {
        color: var(--btnBg);
      }
    }

    svg {
      width: 26px;
      height: 26px;
      fill: #fff;
    }
  }
}